@model Evaluacion1.Models.Datos

@{
    ViewData["Title"] = "Datos";

   var respuesta = (Datos)ViewData["respuesta"];
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <!--VALIDACION-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
        var arrCompleto = [];
        function agregar() {
            var nombres = $("#nombres").val();
            var apellidos = $("#apellidos").val();
            var fechaNacimiento = $("#fechaNacimiento").val();
            var correo = $("#correo").val();
            if (nombres == "") {
                Swal.fire(
                    'Alerta',
                    'Nombres no puede estar vacio',
                    'warning'
                )
            } else if (apellidos == "") {
                Swal.fire(
                    'Alerta',
                    'Apellidos no puede estar vacio',
                    'warning'
                )
            } else if (fechaNacimiento == "") {
                Swal.fire(
                    'Alerta',
                    'Fecha de nacimiento no puede estar vacio',
                    'warning'
                )
            } else if (correo == "") {
                Swal.fire(
                    'Alerta',
                    'Correo no puede estar vacio',
                    'warning'
                );
            } else {
                var arr = [];
                arr.push(nombres + ' ' + apellidos);
                arr.push(fechaNacimiento);
                arr.push(@respuesta.Edad());
                arr.push(correo);
                arrCompleto.push(arr);

                var tablaHtml = "";
                for (var i = 0; i < arrCompleto.length; i++) {
                    tablaHtml += "<tr>";
                    for (var j = 0; j < arrCompleto[i].length; j++) {
                        tablaHtml += "<td>" + arrCompleto[i][j] + "</td>";
                    }
                    tablaHtml += "<td><button class='btn btn-primary'>Editar</button> <button class='btn btn-danger'>Eliminar</button></td>";
                    tablaHtml += "</tr>";
                }
                $("#tablaHtml").html(tablaHtml);
                // LIMPIAR
                $("#nombres").val("");
                $("#apellidos").val("");
                $("#fechaNacimiento").val("");
                $("#correo").val("");

                return false;
            }
        }
    </script>
</head>
<body>
    <!--NAV-->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmLogoutModal">Cerrar Sesión</a>
        </div>
    </nav>
    <!--LOGOUT-->
    <div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que quieres cerrar sesión?</h5>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <br /><br />
    <!--FORM-->
    <div class="container">
        <h1>FORMULARIO</h1>
        <br />
        <form class="row g-3" asp-action="DataScreen" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label asp-for="nombres" class="form-label">Nombres</label>
                <input asp-for="nombres" class="form-control" placeholder="Ingrese sus nombres" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="apellidos" class="form-label">Apellidos</label>
                <input asp-for="apellidos" class="form-control" placeholder="Ingrese sus apellidos" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                <input asp-for="fechaNacimiento" type="date" class="form-control">
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="correo" class="form-label">Correo</label>
                <input asp-for="correo" type="email" class="form-control" placeholder="Ingrese su correo">
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Agregar" class="btn btn-primary" onclick="agregar();" />
            </div>
        </form>
    </div>
    <br />
    <hr class="container" />
    <br />
    <table class="table container" border='1' style='border-collapse' class='table'>
    <thead>
        <tr>
            <th>NOMBRE COMPLETO</th>
            <th>FECHA NACIMIENTO</th>
            <th>EDAD</th>
            <th>CORREO</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody id="tablaHtml">
    </tbody>
</table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>
